body {
  background-color: #dddddd;
  color: #444444;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  margin: 10% 20%;
}

.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #444444;
  border-bottom: 1px solid #444444;
}

.bio-header {
  font-style: italic
}

img {
  width: 300px;
  position: relative;
  top: 100px;
  right: 100px;
    
}
